* {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#loginPage {
  background-size: cover;
  background-repeat: no-repeat;
}

#login {
  margin-top: 50px;
}

button {
  background-color: black;
  color: white;
  border-color: solid black 2px;
}

.card {
  border: solid black 1.25px;
  background-color: lightblue;
  font-size: 14px;
  width: 40%;
  margin: 2rem; 
}

.editBtn{
  background-color: green;
}

.deleteBtn{
  background-color: red;
  color: black;
}

.myPostHeader{
  font-size: 30px;
  text-decoration: underline;
}

.navbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  float: left;
  padding-top: 10px;
  text-decoration: none;
  width: 100%;
  background-color: black;
  color: white;
  height: 100%;
}
