* {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#loginPage {
  background-size: cover;
  background-repeat: no-repeat;
}

#login {
  margin-top: 50px;
}

button {
  background-color: black;
  color: white;
  border-color: solid black 2px;
}


.commentText {
  font-size: 10px;
}

.card {
  border: solid black 1.35px;
  background-color: white;
  font-size: 14px;
  width: 45%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
}

.editBtn{
  background-color: green;
}

.deleteBtn{
  background-color: red;
  color: black;
}

.myPostHeader{
  font-size: 30px;
  text-decoration: underline;
}

.navbar{
  display: flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-decoration: none;
  width: 100%;
  background-color: black;
  color: white;
}

.navItem{
  list-style-type: none;
  float: left;
  right: 0px;
  position: relative;
}